.element__delete-btn {
  position: absolute;
  width: 18px;
  height: 19px;
  right: 20px;
  top: 20px;
  background-image: url("../../../images/element/element__delete-btn/delete-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.element__delete-btn:hover {
  opacity: 0.6;
}
