.header__burger-menu-open-button {
  display: none;
}

@media (max-width: 768px) {
  .header__burger-menu-open-button {
    display: inline-block;
    align-self: center;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    background-color: black;
    border: none;
  }
}
