.profile__change-button {
  margin-left: 19px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box;
  background-image: url("../../../images/profile/svg/edit-button.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  background-size: 10px;
  border: 1px solid #ffffff;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.profile__change-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__change-button {
    margin-left: 10px;
    min-width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
