.profile__title-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media (max-width: 768px) {
  .profile__title-block {
    justify-content: center;
    align-items: center;
  }
}
